@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
body {
    background-color: #fff;
}

a {
    color: black !important;
}

.brand-logo {
    font-family: 'Grand Hotel', cursive;
    font-weight: 500;
    margin-left: 2rem;
}

.auth-card {
    padding: 40px;
    margin: 5rem auto;
    text-align: center;
    max-width: 600px;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(6, 51, 102) !important;
    box-shadow: 0 1px 0 0 rgb(5, 47, 94) !important;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: '70%';
    margin: '30px auto';
    justify-content: space-around;
    align-items: center;
}

.item {
    width: 25%;
    margin: 20px;
    height: 50%;
}

.home {
    max-width: 60%;
    margin: 26px auto;
}

.home-card {
    width: 80%;
    margin: 26px auto;
}

.card-image {
    margin: 20px;
    
}

.text-home {
    margin: 20px;
    font-weight: 700;
}

.text-body{
    margin: 20px;
}
.text-icon {
    margin: 10px 10px;
}

.text-input {
    margin: 10px 20px !important;
    max-width: 90%;
    font-weight: 400;
}

.text-name{
    font-weight: 700;
    font-style:oblique;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 
 
}
.Create-name{
    font-weight: 500;
    font-style:oblique;
    font-family: 'Grand Hotel', cursive;
    font-size:3rem;
}
#toast-container{
    top:30px;
    right:10px;
    left: auto !important;
}

.flex{
    display:flex !important;
    
    justify-content: space-between;

}